<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <form id="addArticle" action="" style="display:none">
        Title:<input type="text" placeholder="Input Title"/><br>
        Content:<textarea name="content" placeholder="Input Content"></textarea>
        <input type="submit" value="Add">
    </form>
      <button>Add Article</button> 
         <script>
            $("button").click(function () {
                $("form").show("slow");
            });
        </script>
    <script id="articleTemplate" type="text/template">
        <span><strong><%= title %></strong> && <%= content %></span> 
        <button class="edit">Edit</button>
        <button class="delete">Delete</button>
    </script>
<div id="article-listing-holder">Data is loading....</div>

<script src="public/js/underscore.js"></script>
<script src="public/js/jquery.js"></script>
<script src="public/js/backbone.js"></script>
<script src="public/js/main.js"></script>
</body>
</html>